<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/register.css" />
    <link rel="stylesheet" href="../static/css/global.css" />
    <link rel="icon" href="../static/images/logo.png" type="image.png" />
    <title>Register</title>
  </head>
  <body>
    <header>
      {% if session.user %}
      <a href="/home" style="height: 100%; width: auto"
        ><img src="../static/images/logo.png" alt="Logo do site" class="logo"
      /></a>
      {% else %}
      <a href="/" style="height: 100%; width: auto"
        ><img src="../static/images/logo.png" alt="Logo do site" class="logo"
      /></a>
      {% endif %}
      <h1>Biblioteca Digital</h1>
      <nav>
        <ul class="nav-buttons">
          {% if session.user %}
          <a href="/home"><button class="button-login">Voltar</button></a>
          {% else %}
          <a href="/"><button class="button-login">Voltar</button></a>
          {% endif %}
        </ul>
      </nav>
    </header>
    <main>
      <section class="main-box">
        <img
          src="../static/images/logo.png"
          alt="Logo do site"
          style="
            width: 160px;
            -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.25));
            filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.25));
          "
        />
        <form action="/register" method="POST">
          <input
            type="text"
            id="first_name"
            name="first_name"
            placeholder="Nome"
            required
          />
          <input
            type="text"
            id="last_name"
            name="last_name"
            placeholder="Sobrenome"
            required
          />
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Senha"
            required
          />
          <input
            type="password"
            id="confirm_password"
            name="confirm_password"
            placeholder="Confirmar senha"
            required
          />

          <input
            type="email"
            id="email"
            name="email"
            placeholder="Email"
            required
          />
          <div style="width: 305px">
            <p>Registrar como:</p>
            <div class="radio-group">
              <label class="container-radio"
                ><input
                  type="radio"
                  name="cargo"
                  value="cliente"
                  required
                  checked
                /><span class="checkmark"></span> Cliente</label
              >
              <label class="container-radio"
                ><input
                  type="radio"
                  name="cargo"
                  value="funcionario"
                  required
                /><span class="checkmark"></span> Funcionario</label
              >
            </div>
          </div>
          <button type="submit" class="button-enter">Criar conta</button>
        </form>
        {% if error %}
        <p class="error">{{ error }}</p>
        {% endif %} {% if success %}
        <p class="success">{{ success }}</p>
        {% endif %}
        <div class="barra"></div>
        <p>Já tem uma conta?</p>
        <a href="/login"><button class="button-login">Entrar</button></a>
      </section>
    </main>
  </body>
</html>
